/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footerz {
    z-index: -1;
    width: 100%;
    height: 15em;
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz {
    z-index: -1;
    width: 100%;
    height: 25em;
    background-size: cover;
    background-position: center center;
}}


.footerz, .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    text-align: center;
}

@media (min-width: 550px) {  
.footerz:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
    }}


/*
.footerz_title{
    z-index: 2;
    position: absolute;
    width: 100%;
    line-height: 1.5em;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    top: 30%;
    margin: auto;
}
*/



.footerz_title{
    z-index: 2;
    position: absolute;
    width: 100%;
    line-height: 1.5em;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    top: 35%;
    margin: auto;    
    text-align: center;
    font-size: 0.7em;
    letter-spacing: .5em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Proxima Nova";
}

.footerz_project{
    z-index: 2;
    position: absolute;
    width: 100%;
    line-height: 2.5em;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    top: 40%;
    margin: auto;
    margin-top: .25em;
    font-size: 2.5em;
    font-weight: 300;
}

@media (min-width: 550px) {  
.footerz_project{
    z-index: 2;
    position: absolute;
    width: 100%;
    line-height: 2.5em;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    top: 45%;
    margin: auto;
    font-size: 2.4em;
    font-weight: 300;
    }}

/* Headerz + Footerz
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Swish Swish
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.header_swishswish{
    width: 100%;
    height: 25em;
    background: url('../images/swishswish/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_swishswish {
    width: 100%;
    height: 75vh;
    background: url('../images/swishswish/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_swishswish {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/swishswish/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_swishswish {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/swishswish/header.jpg);
    background-size: cover;
    background-position: center center;
    }}

@media (min-width: 550px) {  
.footerz_swishswish:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}



/* Nike NTC
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_nikentc{
    width: 100%;
    height: 25em;
    background: url('../images/nikentc/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_nikentc{
    width: 100%;
    height: 75vh;
    background: url('../images/nikentc/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footerz_nikentc {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/nikentc/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_nikentc {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/nikentc/header.jpg);
    background-size: cover;
    background-position: center center;
    }}

@media (min-width: 550px) {  
.footerz_nikentc:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}



/* Hotpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_hotpoints{
    width: 100%;
    height: 25em;
    background: url('../images/hotpoints/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_hotpoints{
    width: 100%;
    height: 75vh;
    background: url('../images/hotpoints/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footerz_hotpoints {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/hotpoints/header.png);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_hotpoints {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/hotpoints/header.png);
    background-size: cover;
    background-position: center center;
}}


@media (min-width: 550px) {  
.footerz_hotpoints:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Instagram
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_instagram{
    width: 100%;
    height: 25em;
    background: url('../images/instagram/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_instagram{
    width: 100%;
    height: 75vh;
    background: url('../images/instagram/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footerz_instagram {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/instagram/header.png);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_instagram {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/instagram/header.png);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_instagram:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Dropbox Paper
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_dropboxpaper{
    width: 100%;
    height: 25em;
    background: url('../images/dropboxpaper/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_dropboxpaper{
    width: 100%;
    height: 75vh;
    background: url('../images/dropboxpaper/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footerz_dropboxpaper {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/dropboxpaper/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_dropboxpaper {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/dropboxpaper/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_dropboxpaper:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Dropbox Paper
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_dropbox{
    width: 100%;
    height: 25em;
    background: url('../images/dropbox/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_dropbox{
    width: 100%;
    height: 75vh;
    background: url('../images/dropbox/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footerz_dropbox {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/dropbox/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_dropbox {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/dropbox/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_dropbox:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* New Balance
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_newbalance{
    width: 100%;
    height: 25em;
    background: url('../images/newbalance/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_newbalance{
    width: 100%;
    background: url('../images/newbalance/header.jpg') rgb(222, 222, 222);
    height: 75vh;
    background-size: cover;
    background-position: center center;
    }}

.footerz_newbalance {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/newbalance/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_newbalance {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/newbalance/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_newbalance:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}




/* Well Well
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_wellwell {
    width: 100%;
    height: 25em;
    background: url('../images/wellwell/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_wellwell{
    width: 100%;
    height: 75vh;
    background: url('../images/wellwell/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_wellwell {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/wellwell/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_wellwell {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/wellwell/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_wellwell:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Reveal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_reveal {
    width: 100%;
    height: 25em;
    background: url('../images/reveal/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_reveal{
    width: 100%;
    height: 75vh;
    background: url('../images/reveal/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_reveal {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/reveal/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_reveal {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/reveal/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_reveal:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Unvael
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_unvael {
    width: 100%;
    height: 25em;
    background: url('../images/unvael/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_unvael{
    width: 100%;
    height: 75vh;
    background: url('../images/unvael/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_unvael {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/unvael/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_unvael {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/unvael/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_unvael:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Evolution Fresh
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_evolutionfresh {
    width: 100%;
    height: 25em;
    background: url('../images/evolutionfresh/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_evolutionfresh{
    width: 100%;
    height: 75vh;
    background: url('../images/evolutionfresh/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_evolutionfresh {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/evolutionfresh/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_evolutionfresh {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/evolutionfresh/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_evolutionfresh:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Chaotic Moon
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_chaoticmoon {
    width: 100%;
    height: 25em;
    background: url('../images/chaoticmoon/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_chaoticmoon{
    width: 100%;
    height: 75vh;
    background: url('../images/chaoticmoon/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_chaoticmoon {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/chaoticmoon/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_chaoticmoon {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/chaoticmoon/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_chaoticmoon:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}




/* Anica + Jonpaul
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_anicajonpaul {
    width: 100%;
    height: 25em;
    background: url('../images/anicajonpaul/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_anicajonpaul{
    width: 100%;
    height: 75vh;
    background: url('../images/anicajonpaul/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_anicajonpaul {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/anicajonpaul/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_anicajonpaul {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/anicajonpaul/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_anicajonpaul:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_color {
    width: 100%;
    height: 25em;
    background: url('../images/color/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_color{
    width: 100%;
    height: 75vh;
    background: url('../images/color/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_color {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/color/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_color {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/color/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_color:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}



/* Facebook
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_facebook {
    width: 100%;
    height: 25em;
    background: url('../images/facebook/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_facebook{
    width: 100%;
    height: 75vh;
    background: url('../images/facebook/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_facebook {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/facebook/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_facebook {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/facebook/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_facebook:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}



/* Found Objects
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_foundobjects {
    width: 100%;
    height: 25em;
    background: url('../images/foundobjects/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_foundobjects{
    width: 100%;
    height: 75vh;
    background: url('../images/foundobjects/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_foundobjects {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/foundobjects/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_foundobjects {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/foundobjects/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_foundobjects:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Dbln Co.
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_dbln {
    width: 100%;
    height: 25em;
    background: url('../images/dbln/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_dbln{
    width: 100%;
    height: 75vh;
    background: url('../images/dbln/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_dbln {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/dbln/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_dbln {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/dbln/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_dbln:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Rare Glaze
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_geoaday {
    width: 100%;
    height: 25em;
    background: url('../images/geoaday/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_geoaday{
    width: 100%;
    height: 75vh;
    background: url('../images/geoaday/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_geoaday {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/geoaday/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_geoaday {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/geoaday/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_geoaday:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Kelvin
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_kelvin {
    width: 100%;
    height: 25em;
    background: url('../images/kelvin/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_kelvin{
    width: 100%;
    height: 75vh;
    background: url('../images/kelvin/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_kelvin {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/kelvin/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_kelvin {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/kelvin/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_kelvin:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Annalemma
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_annalemma {
    width: 100%;
    height: 25em;
    background: url('../images/annalemma/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_annalemma{
    width: 100%;
    height: 75vh;
    background: url('../images/annalemma/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_annalemma {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/annalemma/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_annalemma {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/annalemma/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_annalemma:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}



/* Facebook Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_facebookhome {
    width: 100%;
    height: 25em;
    background: url('../images/facebookhome/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_facebookhome{
    width: 100%;
    height: 75vh;
    background: url('../images/facebookhome/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_facebookhome {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/facebookhome/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_facebookhome {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/facebookhome/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_facebookhome:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Chomp
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_chomp{
    width: 100%;
    height: 25em;
    background: url('../images/chomp/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_chomp{
    width: 100%;
    height: 75vh;
    background: url('../images/chomp/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_chomp {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/chomp/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_chomp {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/chomp/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_chomp:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}



/* Facebook Paper
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_facebookpaper {
    width: 100%;
    height: 25em;
    background: url('../images/facebookpaper/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_facebookpaper{
    width: 100%;
    height: 75vh;
    background: url('../images/facebookpaper/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_facebookpaper {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/facebookpaper/header.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footerz_facebookpaper {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/facebookpaper/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_facebookpaper:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}




/* Steven Taylor
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_steventaylor{
    width: 100%;
    height: 25em;
    background: url('../images/steventaylor/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_steventaylor{
    width: 100%;
    height: 75vh;
    background: url('../images/steventaylor/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_steventaylor {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/steventaylor/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_steventaylor {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/steventaylor/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_steventaylor:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}



/* Olderbrother
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_olderbrother{
    width: 100%;
    height: 25em;
    background: url('../images/olderbrother/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_olderbrother{
    width: 100%;
    height: 75vh;
    background: url('../images/olderbrother/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_olderbrother {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/olderbrother/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_olderbrother {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/olderbrother/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_olderbrother:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}

/* Fiction
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_fiction{
    width: 100%;
    height: 25em;
    background: url('../images/fiction/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_fiction{
    width: 100%;
    height: 75vh;
    background: url('../images/fiction/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_fiction {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/fiction/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_fiction {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/fiction/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_fiction:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* Fortune
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_fortune{
    width: 100%;
    height: 25em;
    background: url('../images/fortune/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_fortune{
    width: 100%;
    height: 75vh;
    background: url('../images/fortune/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_fortune {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/fortune/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_fortune {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/fortune/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_fortune:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}

/* Grain and Gram
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_grainandgram{
    width: 100%;
    height: 25em;
    background: url('../images/grainandgram/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_grainandgram{
    width: 100%;
    height: 75vh;
    background: url('../images/grainandgram/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}}

.footerz_grainandgram {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/grainandgram/header.jpg);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz_grainandgram {
    z-index: -1;
    width: 100%;
    height: 25em;
    background: url(../images/grainandgram/header.jpg);
    background-size: cover;
    background-position: center center;
}}

@media (min-width: 550px) {  
.footerz_grainandgram:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
}}


/* About 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_about{
    width: 100%;
    height: 35vh;
    background: url('/images/yaslyzz.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    margin-top: 3em;
    padding-top: 14em;
}

@media (min-width: 550px) {  
.header_about{
    height: 45vh;
    width: 100%;
    background: url('/images/yaslyzz.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    margin-top: -4em;
    padding-top: 24em;
}}


/* Splashy 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#splashy{
    height: 100vh;
    background: url('/images/_home/splash_mobile.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e8e4e6;
}


/* Larger than phablet */
@media (min-width: 550px) {
#splashy{
    background: url('/images/_home/splash.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e8e4e6;
    }}





