---
---


<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>HAo / Works of Yuhao Zheng</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.ico" media="screen" />
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Typekit Proxima
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/efx3njx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../../assets/css/1-tools/normalize.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/skeleton.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/custom.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/headers.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/fontz/argent-cf-thin.css" type="text/css" charset="utf-8" /> 
   
    <!-- Social
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:site_name" content="HAo" />
    <meta property="og:description" content="Works of Yuhao Zheng" />

    <meta property="og:url" content="http://www.yuhaozheng.com/" />
    <meta property="og:title" content="HAo / Works of Yuhao Zheng" />
</head>
<body>

  <!-- Header + Nav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- mobile nav bruh -->
	{% include mobile-nav-work.html %}
  <!-- end of the nav -->
	{% include nav-work.html %}
  
   <!-- Change here！！！！！！！！！！！！！！！！！！！！！
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
 <div class="header_pieri container_header workz"></div>
 
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container workz">
  
   <!-- Change here！！！！！！！！！！！！！！！！！！！！！
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
             <!--  intro  -->
     {% for project in site.data.settings.pieri %}    
     	{% include work-title.html %}
     {% endfor %}
           <!-- end of intro  -->
           
  <!-- Customize Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

		<p class="text_work_title">Prototypes<br><br></p>
		<div class="row">
		<div class="one-third column"> 
			<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/model-1.jpg" >
			<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/model-1-1.jpg" >
			<p class="text_work_content1">Model 1: above/ below/in between</p> 
		</div>
		<div class="one-third column"> 
			<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/model-2.jpg" >
			<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/model-2-2.jpg" >
			<p class="text_work_content1">Model 2: abstract articulation of the types of elements we are working with</p> 
		</div>
		<div class="one-third column"> 
			<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/model-3.jpg" >
			<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/model-3-3.jpg" >
			<p class="text_work_content1">Model 3: solid to projection to notation</p> 
		</div>
     	</div>
     
      
      <div class="row">
      	<p class="text_work_title">Architectural Strategy</p>
      	<p class="text_work_content2">When it comes to the architectural strategy, we looked back on the initial dances and the way those relationships inhabit the architecture that they occupy. Through that, we determined that dance can exist above, below, or set within. This allowed us to look at the plan and the elevation in order to determine that actual occupied space of that dance within the architecture. We took the vertices of that surface area in order to generate a hyperbolic form, that allowed us to investigate the way that the ground plane interacts with this infinite set of points generated by the parabola, by creating spaces that can be inverted, or at times, above, or sometimes within.</p></br>
     			<div class="six offset-by-three columns">
      			
				<div class="slideshow-container">
					<div class="mySlides fade-slider">
						<div class="numbertext">1 / 2</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider2/Strategy Diagram.jpg" >
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">2 / 2</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider2/Frozen Sections 2.jpg" >
					</div>
					<a class="prev" onclick="plusSlides(-1)" style="color:firebrick">&#10094;</a>
					<a class="next" onclick="plusSlides(1)" style="color:firebrick">&#10095;</a>	
				</div>
				<div style="text-align:center">
					<span class="dot" onclick="currentSlide(1)"></span> 
					<span class="dot" onclick="currentSlide(2)"></span> 
					
				</div> 
			</div>
     		</div>
     	<div class="row">
      	<div class="full columns">
      	
     	</div>
     <div class="row">
     	<p class="text_work_title">Performace Figure : Large/Medium/Medium//Small/Small</p>
			  <p class="text_work_content2">In developing our performance spaces, we focused on establishing these relationships with the ground plane and through a series of scales with some that are small (100), medium (300) and large (750). When designing the envelope in which these figures lie, we looked to the site for orientation and extension of axes. The first being true north, Pier I, and Freedom Place. Then through this multi-axial orientation we placed the figures through a processional sequence and determined the voids around them based on how they intersected with a regular envelope that was then striated to continue this uniformity from the site.</p> </br>
     	<div class="eight offset-by-two columns">
			  <div class="slideshow-container">
					<div class="mySlides2 fade-slider">
						<div class="numbertext">1 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/09.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">2 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/10.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">3 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/07.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">4 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/08.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">5 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/05.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">6 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/06.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">7 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/03.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">8 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/04.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">9 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/01.jpg">
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext">10 / 10</div>
						<img class="work_img" src="../../assets/img/work/PierIPerformanceCenter/slider/02.jpg">
					</div>
					<a class="prev" onclick="plusSlides2(-1) " style="color:firebrick">&#10094;</a>
					<a class="next" onclick="plusSlides2(1)" style="color:firebrick">&#10095;</a>
				</div>


				<div style="text-align:center">
					<span class="dot2" onclick="currentSlide2(1)"></span> 
					<span class="dot2" onclick="currentSlide2(2)"></span> 
					<span class="dot2" onclick="currentSlide2(3)"></span>
					<span class="dot2" onclick="currentSlide2(4)"></span> 
					<span class="dot2" onclick="currentSlide2(5)"></span> 
					<span class="dot2" onclick="currentSlide2(6)"></span> 
					<span class="dot2" onclick="currentSlide2(7)"></span> 
					<span class="dot2" onclick="currentSlide2(8)"></span> 
					<span class="dot2" onclick="currentSlide2(9)"></span> 
					<span class="dot2" onclick="currentSlide2(10)"></span> 
				</div> 
    			</div>  
     			</div>  
     <div class="row">
      	<div class="full columns">
      	<p class="text_work_content2">When designing the envelope in which these figures lie, we looked to the site for orientation and extension of axes. The first being true north, Pier I, and Freedom Place. Then through this multi-axial orientation we placed the figures through a processional sequence and determined the voids around them based on how they intersected with a regular envelope that was then striated to continue this uniformity from the site.</p> 
     	</div>
     	<div class="row">
     	<div class="full column">  
            <img src="../../assets/img/work/PierIPerformanceCenter/model_long.jpg" />          
            <img src="../../assets/img/work/PierIPerformanceCenter/render 2.jpg" />        
          </div>
     	</div>
     	</div>
      <p class="text_work_title">Floor Plan</p>
       <div class="row">
       <p class="text_work_content2">A visitor or dancer enters through the main lobby and they are greeted by this grand staircase that leads them to a main path that circulates throughout the building. And within this path, or “indoor street,” are moments of informal performance areas, gathering spaces, foyers, and open plan libraries that are denoted with a change in materiality. The rest of these exterior programming remains flexible and organic to continue the language of the figures. In developing the procession, we looked to our study of notation for time sequence and intervals, which we then used to generate the movement to and from each space.</p> </br>
     	<div class="row">
           <div class="full column">  
            <img src="../../assets/img/work/PierIPerformanceCenter/Cut Plan.jpg" />          
          </div>  
         </div>
      <div class="row">
        <div class="one-third column">  
            <img src="../../assets/img/work/PierIPerformanceCenter/01.jpg" />            
          </div>
        <div class="one-third column">  
            <img src="../../assets/img/work/PierIPerformanceCenter/02.jpg" />            
          </div> 
        <div class="one-third column">  
            <img src="../../assets/img/work/PierIPerformanceCenter/03.jpg" />           
         </div>           
      </div>
            
     
		</div>      
</div>
</div>

 <!-- end of Customize Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
 <!-- Change here！！！！！！！！！！！！！！！！！！！！！
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
         <!--  footer  -->
 {% for project in site.data.settings.section %}    
     	{% include work-footer.html %}
     {% endfor %}
      
       <!-- end of footer  -->
<script src="../../assets/js/main.js"></script>    
</body>
</html>

