---
---

<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>HAo / Works of Yuhao Zheng</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico" media="screen" />
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Typekit Proxima
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/efx3njx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/fontz/argent-cf-thin.css" type="text/css" charset="utf-8" /> 
	<link rel="stylesheet" href="assets/css/1-tools/custom.css">
  	<link rel="stylesheet" href="assets/css/1-tools/headers.css">
   
    <!-- Social
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:site_name" content="HAo" />
    <meta property="og:description" content="Works of Yuhao Zheng" />

    <meta property="og:url" content="http://www.yuhaozheng.com/" />
    <meta property="og:title" content="HAo / Works of Yuhao Zheng" />



</head>
<body id="splashy" class="work" >

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- mobile nav bruh -->
	{% include mobile-nav.html %}
  <!-- end of the nav -->
	
  <!-- nav bruh -->
	<div class="container">    
        <div class="row">
            <div class="one columns" id="home">
                <a href="/"><img class="logo" src="../assets/img/logo_1.png" /></a>
            </div>

            <div class="nav-rt u-pull-right">
                <li><h4><a href="/work/" style="color: white">Work</a></h4></li>
                <li><h4><a href="https://www.instagram.com/hahaooooooooooo/" style="color: white">Instagram</a></h4></li>
                <li><h4><a href="/about/" style="color: white">About</a></h4></li>
                <li><h4><a href="/more/" style="color: white">More</a></h4></li>
            </div>          
        </div>
</div>  
  <!-- end of nav bruh -->
  
  <!-- homepage-content -->
	{% include homepage-content.html %}
  <!-- end of homepage-content -->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/assets/js/main.js"></script>
</body>
</html>

