    <div class="container">
        <div class="row">
            <div class="six columns home_title" style="color: white">
            <h3>Yuhao Zheng is a Designer from New York, specializing in Architecture Design + visual design.</h3>
            </div>
        </div> 

        <div class="row">
            <div class="six columns home_desc" style="color: white">
            <h4>Recently Graduate from Columbia University, Graduate School of Architecture, Planning and Preservation.</h4>
            </div>
        </div>   
    </div>
