 <div class="mobile-header mobile-header-splash">
      <a href="/"><img class="mobile-logo" src="../assets/img/logo.png" /></a>
    <div class="mobile-toggle"></div>
  </div>
  
  <div class="mobile-nav">
        <a href="/"><img class="mobile-tag" src="../assets/img/logo.png" /></a>  
    <ul>
      <li><h4><a href="/work/">Work</a></h4></li>
      <li><h4><a href="https://www.instagram.com/hahaooooooooooo/">Instagram</a></h4></li>
      <li><h4><a href="/about/">About</a></h4></li>
      <li><h4><a href="/more/">More</a></h4></li>
    </ul>
  </div>
