<div class="container">    
        <div class="row">
            <div class="one columns" id="home">
                <a href="/"><img class="logo" src="../../assets/img/logo.png" /></a>
            </div>

            <div class="nav-rt u-pull-right">
                <li><h4><a href="/work/">Work</a></h4></li>
                <li><h4><a href="https://www.instagram.com/hahaooooooooooo/">Instagram</a></h4></li>
                <li><h4><a href="/about/">About</a></h4></li>
                <li><h4><a href="/more/">More</a></h4></li>
            </div>          
        </div>
</div>   