	<!-- Title  -->
       <p class="text_work_head">{{ project.name }}</p>
       <p class="text_work_sub_head">{{ project.description }}</p>
       
    <!-- intro  -->  
        <div class="row project_details">
        <div class="twelve columns">
           </br>
            <p class="text_desc2">Critic: {{project.critic}}</p>
            <p class="text_desc2">Partner: {{ project.partner }}</p>
            <p class="text_desc2">Time: {{ project.time }}</p>
            </br>
            <p class="text_desc">{{ project.summary }}</p>
        </div>
      </div>
    <!-- end of intro  -->
