<div class="row">
            <div class="full column work-sort">
                <a data-category="archi" href="">Architecture/Urbanism</a> 
                <a data-category="research" href="">Research</a>
                <a data-category=
                "mr" href="">Machine Learning</a> 
                <a data-category="ui" href=
                "">UI/UX</a> 
                <a data-category="film" href="">Film</a> 
                <a class="sort-active"
                data-category="all" href="">Everything</a>
            </div>
</div>