---
---
<!DOCTYPE html>


<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>HAo / Works of Yuhao Zheng</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico" media="screen" /> 
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Typekit Proxima
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/efx3njx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/1-tools/skeleton.css">
    <link rel="stylesheet" href="../assets/css/1-tools/custom.css">
    <link rel="stylesheet" href="../assets/css/1-tools/headers.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/fontz/argent-cf-thin.css" type="text/css" charset="utf-8" /> 
    
    

    <!-- Social
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:site_name" content="HAo" />
    <meta property="og:description" content="Works of Yuhao Zheng" />

    <meta property="og:url" content="http://www.yuhaozheng.com/" />
    <meta property="og:title" content="HAo / Works of Yuhao Zheng" />


</head>
<body class="work">

  <!-- Header + Nav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- mobile nav bruh -->
	{% include mobile-nav-work.html %}
  <!-- end of the nav -->
	{% include nav-work.html %}
  
   <!-- Change here！！！！！！！！！！！！！！！！！！！！！
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
 <div class="header_about container_header workz"></div>
    <div class="container workz">
    <div class="row">
    	<div class="four offset-by-four columns">
    		<p class="text_work_title">About Yuhao Zheng</p><br>
    		<img src="../assets/img/photo.jpg" />	
    	</div>
    	<div class="four offset-by-four columns">
    	<p class="intro">Yuhao Zheng is an architect based in the United States and China. He received his Bachelor of Architecture from Shenzhen University and was hornored as best graduate of 2015. He also holds a Master degree in architectural design from Columbia University where his studio work was selected to publish in school's annual publication ABSTRACT 2016-2017.<br><br><strong>Feel free to Contact me.<br>Just hit me up.</strong></p>	
    	<div class="eight offset-by-two columns about_title">
        <a href="mailto:yuhaozheng@hotmail.com"><p class="contact_button">E-mail Me</p></a>
        </div>
    	</div>    
    </div>    
                 
	{% include footer.html %}
    </div>

    
    	 
    
<script src="../assets/js/main.js"></script>
    
</body>
</html>