---
---


<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>HAo / Works of Yuhao Zheng</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.ico" media="screen" />
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Typekit Proxima
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/efx3njx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../../assets/css/1-tools/normalize.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/skeleton.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/custom.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/headers.css">
    <link rel="stylesheet" href="../../assets/css/1-tools/fontz/argent-cf-thin.css" type="text/css" charset="utf-8" /> 
   	
    <!-- Social
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:site_name" content="HAo" />
    <meta property="og:description" content="Works of Yuhao Zheng" />

    <meta property="og:url" content="http://www.yuhaozheng.com/" />
    <meta property="og:title" content="HAo / Works of Yuhao Zheng" />
</head>
<body>

  <!-- Header + Nav
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- mobile nav bruh -->
	{% include mobile-nav-work.html %}
  <!-- end of the nav -->
	{% include nav-work.html %}
  
   <!-- Change here！！！！！！！！！！！！！！！！！！！！！
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
 <div class="header_patras container_header workz"></div>
 
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container workz">
  
   <!-- Change here！！！！！！！！！！！！！！！！！！！！！
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
             <!--  intro  -->
     {% for project in site.data.settings.patras %}    
     	{% include work-title.html %}
     {% endfor %}
           <!-- end of intro  -->
           
  <!-- Customize Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="row">
	<p class="text_work_title">Final Vedio</p>
		<a href="http://architectonicsofmusic.com/"><p class="text_work_title">For more detail of Steven Holl's Studios-"Architectonics of Music".</p></a></br>
			<video width="100%" controls>
				<source src="http://media.virbcdn.com/videos/hd/7a/5ad54804b188ffe2-KerenHaoFinalVedio.mp4" type="video/mp4" />
				<object data="http://media.virbcdn.com/videos/hd/7a/5ad54804b188ffe2-KerenHaoFinalVedio.mp4" width="100%">
					 <embed src="http://media.virbcdn.com/videos/hd/7a/5ad54804b188ffe2-KerenHaoFinalVedio.mp4" width="100%" />
				</object>
			</video>
</div>
	<p class="text_work_title">Apply Elements To Project<br><br></p>
	<div class="row">
		<div class="one-third column">  
			<img src="../../assets/img/work/PatrasPierMusicEducationFacility/01.jpg" />
			<p class="text_work_content1">Connection - Brige<br><br></p>
		    <img src="../../assets/img/work/PatrasPierMusicEducationFacility/01-1.jpg" />   
			        
		</div>
		<div class="one-third column">  
			<img src="../../assets/img/work/PatrasPierMusicEducationFacility/02.jpg" /> 
			<p class="text_work_content1">Void - Room<br><br></p>
			<img src="../../assets/img/work/PatrasPierMusicEducationFacility/02-1.jpg" />   
		</div> 
		<div class="one-third column">  
			<img src="../../assets/img/work/PatrasPierMusicEducationFacility/03.jpg" /> 
			<p class="text_work_content1">Light Hole - Light Hole<br><br></p>
			<img src="../../assets/img/work/PatrasPierMusicEducationFacility/03-1.jpg" />   
		</div> 
		<p class="text_work_content2">We then translate this analysis of notation from the composer to a set of architectural language.<br><br>
		A. The difference set is used to create cavities for each "sound block" which accommodates the programs.The central points of the each group of difference set of the scores are translated into the center of the cavity.<br>B. The intersect are used to create both the connections from the ground to upper levels and from one sound block to another.<br>C. The union set is used to create the light holes which allows light to come into the building and creats unique light effect on the walls.</p> 
	
	    <p class="text_work_title"><br>Sections and Plans</p>
	    
	    <div class="slideshow-container">
					<div class="mySlides2 fade-slider">
						<div class="numbertext" style="color: firebrick">1 / 6</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider2/plan and section-01.jpg">
					</div>

					<div class="mySlides2 fade-slider">
						<div class="numbertext" style="color: firebrick">2 / 6</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider2/plan and section-02.jpg" >
					</div>
					
					<div class="mySlides2 fade-slider">
						<div class="numbertext" style="color: firebrick">3 / 6</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider2/plan and section-03.jpg" >
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext" style="color: firebrick">4 / 6</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider2/plan and section-05.jpg" >
					</div>
					<div class="mySlides2 fade-slider">
						<div class="numbertext" style="color: firebrick">5 / 6</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider2/12.jpg" >
					</div>
					<a class="prev" onclick="plusSlides2(-1)" style="color: firebrick">&#10094; </a>
					<a class="next" onclick="plusSlides2(1)" style="color: firebrick">&#10095;</a>
				</div>
				<div style="text-align:center">
					<span class="dot2" onclick="currentSlide2(1)"></span> 
					<span class="dot2" onclick="currentSlide2(2)"></span> 
					<span class="dot2" onclick="currentSlide2(3)"></span>
					<span class="dot2" onclick="currentSlide2(4)"></span>
					<span class="dot2" onclick="currentSlide2(5)"></span>
				</div> 
	     <div class="row">  
	    </br><p class="text_work_title">Renderings</p></br>
	    <div class="row">
				<div class="slideshow-container">
					<div class="mySlides fade-slider">
						<div class="numbertext">1 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/01.jpg" >
						<div class="text-slider">View from the ourdoor-platform and the outdoor entrance of seminar room</div>
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">2 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/02.jpg" >
						<div class="text-slider">View from the seminar room</div>
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">3 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/07.jpg" >
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">4 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/03.jpg" >
						<div class="text-slider">View from the ourdoor-platform2</div>
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">5 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/04.jpg" >
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">6 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/05.jpg" >
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">7 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/06.jpg" >
						<div class="text-slider">View from the bridges</div>
					</div>
					
					<div class="mySlides fade-slider">
						<div class="numbertext">8 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/09.jpg" >
						<div class="text-slider">View from the view-tower</div>
					</div>	
					<div class="mySlides fade-slider">
						<div class="numbertext">9 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/10.jpg" >
						<div class="text-slider">Overall view of the space</div>
					</div>
					<div class="mySlides fade-slider">
						<div class="numbertext">10 / 10</div>
						<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/slider/11.jpg" >
						<div class="text-slider">View from rehearsal room</div>
					</div>			
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>	
				</div>
				<div style="text-align:center">
					<span class="dot" onclick="currentSlide(1)"></span> 
					<span class="dot" onclick="currentSlide(2)"></span> 
					<span class="dot" onclick="currentSlide(3)"></span> 
					<span class="dot" onclick="currentSlide(4)"></span> 
					<span class="dot" onclick="currentSlide(5)"></span> 
					<span class="dot" onclick="currentSlide(6)"></span>
					<span class="dot" onclick="currentSlide(7)"></span> 
					<span class="dot" onclick="currentSlide(8)"></span> 
					<span class="dot" onclick="currentSlide(9)"></span>
					<span class="dot" onclick="currentSlide(10)"></span> 
				</div> 
			</div>  
    	<br >
	    <p class="text_work_content2">There are galleries outside both painting and sculpture; the special outdoor classroom sits on the sea provides the students with the best atmosphere of nature and light for their practice, while making the practice a kind of performance for the public who are attracted by the school and the park… The light that penetrates through the heavy concrete, creating unique light effect like the spot light on the stage for the rehearsal rooms and individual practice rooms. The cavities provides acoustical benefits for musical and instrument classrooms.<br>This educational institute spreads the positive influence of art to the city, and brings people to the water which triggers more creative thoughts which levels up the desire for art in the institute even higher.</p>
		<img class="work_img" src="../../assets/img/work/PatrasPierMusicEducationFacility/Group Picture.JPG" >   
		<p class="text_work_content1">Left to right:  Raphael Mostel / Dimitra Tsachrelia / <br> Reza Durrani / Yihan Xu / Elizabeth Diller / Keren Bao / Yuhao Zheng / Tahsin Inanici / Qiyue Hu / Jingxuan Wu / Siyu Zhang / Yifei Wu / Shuni Wu / Steven Holl / Colin Robert Joyce / Jacobo Mingorance / Antón García-Abril / Eirini Tsachrelia</p>
      
	</div>  
</div>
</div>
 <!-- end of Customize Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
 <!-- Change here！！！！！！！！！！！！！！！！！！！！！
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
         <!--  footer  -->
         
 {% for project in site.data.settings.notation %}    
     	{% include work-footer.html %}
     {% endfor %}
      
       <!-- end of footer  -->
<script src="../../assets/js/main.js"></script>    
</body>
</html>

